<link href="css/style.css" rel="stylesheet" type="text/css">

<h1 id="loginId">Login As</h1>
<div class="homeBtn">
    <a href="/teachers/authPage"><button type="button" class="btn btn-primary btn-lg">Teacher</button></a> 
    <a href="/students"><button type="button" class="btn btn-primary btn-lg">Student</button></a>
</div>