<link href="/css/style.css" rel="stylesheet" type="text/css">

<%- include('./_header.ejs') %>
<%- include('./_backbutton.ejs') %>
<h1 id="resultHeading">Result</h1>
<h4 class="resultRows">Roll No. :</h4>
<h4 class="resultRows">Name :</h4>
<h4 class="resultRows">Date of Birth :</h4>
<h4 class="resultRows">Score :</h4>

<%- include('./_footer.ejs') %>