<link href="/css/style.css" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<%- include('./_header.ejs') %>
<h1 class="back" onclick="history.back()"><i class="fa fa-thin fa-backward"></i></h1>
<h1 id="resultHeading">Result</h1>
<h4 class="resultRows">Roll No. :</h4>
<h4 class="resultRows">Name :</h4>
<h4 class="resultRows">Date of Birth :</h4>
<h4 class="resultRows">Score :</h4>
<%- include('./_footer.ejs') %>