<%- include('./_header.ejs') %>
<%- include('./_backbutton.ejs') %>

<a href="/teachers/newResult"><button type="button" id="createResultButton" class="btn btn-success">Success</button></a>

<%- include('./_footer.ejs') %>