body {
    width: 100%;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(0, 128, 0, 0.386);
   color: black;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-align: center;
   border: 1px solid green;
}

.header {
    text-align: center;
    /* width: 100%; */
    border: 2px solid green;
    padding: 1%;
    background-color: rgba(0, 128, 0, 0.386);
}

#loginId {
    position: relative;
    top: 22%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.homeBtn {
    position: relative;
    top: 25%;
    text-align: center;
}

.btn-lg {
    font-size: 25px;
    padding-left: 4%;
    padding-right: 4%;
}

.btn-primary {
    margin-right: 2%;
    margin-left: 2%;
}

/* Remove arrow keys from roll input */
/* Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.alignHeading {
    /* position: relative; */
   margin-top: 5%;
   text-align: center;
   font-family:Arial, Helvetica, sans-serif;
}

.searchForm {
    /* position: relative; */
    margin-top: 2%;
    margin-left: 30%;
    /* font-family:Arial, Helvetica, sans-serif; */
}

.searchForm > input {
    margin-bottom: 2%;
}

#resultHeading {
    text-align: center;
    margin-top: 4%;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.resultRows {
    margin-left: 35%;
    margin-top: 1%;
}

.back {
    width: 3%;
    margin-left: 1%;
}

#createResultButton {
    position: absolute;
    right: 5%;
    top: 13%;
    width: 7%;
    height: 5%;
}

.addResult {
    margin-left: 30%;
}

.addResult > input {
    margin-top: 2%;
    width: 50%;
}

.addResult > label {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: larger;
}

.resultRows {
    width: 10%;
    text-align: end;
    display: inline-block;
    color: gray;
}

.resultRowsValues {
    display: inline-block;
    width: 10%;
    text-align: end;
    margin-left: 5%;
}

.buttonLogout {
    padding: 5px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #e2d305;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .buttonLogout:hover {background-color: #8d8e3e}
  
  .buttonLogout:active {
    background-color: #f9b109;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .btnSuccess {
    padding: 5px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .btnSuccess:hover {background-color: #3e8e41}
  
  .btnSuccess:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .btnSubmit {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #0452aa;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .btnSubmit:hover {background-color: #3e468e}
  
  .btnSubmit:active {
    background-color: #493e8e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .btnReset {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #aa3904;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .btnReset:hover {background-color: #8e563e}
  
  .btnReset:active {
    background-color: #8e563e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .resultTable {
    width: 70%;
    margin: auto;
  }

  .alignForm {
    text-align: center;
  }

  .alignForm > input {
    margin-bottom: 2%;
  }