body {
    width: 100%;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(0, 128, 0, 0.386);
   color: black;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-align: center;
   border: 1px solid green;
}

.header {
    text-align: center;
    /* width: 100%; */
    border: 2px solid green;
    padding: 1%;
    background-color: rgba(0, 128, 0, 0.386);
}

#loginId {
    position: relative;
    top: 22%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.homeBtn {
    position: relative;
    top: 25%;
    text-align: center;
}

.btn-lg {
    font-size: 25px;
    padding-left: 4%;
    padding-right: 4%;
}

.btn-primary {
    margin-right: 2%;
    margin-left: 2%;
}

/* Remove arrow keys from roll input */
/* Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#findResultHeading {
    /* position: relative; */
   margin-top: 10%;
   text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.searchForm {
    /* position: relative; */
    margin-top: 2%;
    margin-left: 30%;
    /* font-family:Arial, Helvetica, sans-serif; */
}

.searchForm > input {
    margin-bottom: 2%;
}

#resultHeading {
    text-align: center;
    margin-top: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.resultRows {
    margin-left: 35%;
    margin-top: 4%;
}

.back {
    width: 3%;
    margin-left: 1%;
}